{% extends "base.html" %}

{% block content %}

    <div class="container" style=" margin-left: 3%;" >
            <h1 >Customer List</h1>
            <br>
            <a href="/room_insert" class="btn btn-dark btn-sm">INSERT</a>
            <a href="/index" class="btn btn-dark btn-sm">Back To Home</a>
            <br><br>
        <table border="1px" class="table table-hover" style="width:100%">
            <thead class="">
                <th>Room no</th>
                <th>Room Rent</th>
                <th colspan="2">Actions</th>
            </thead>
    
    
            {%  for i in room_list %}
            <tr>
                <td>{{i.room_no}}</td>
                <td>{{i.rent}}</td>
              
                <td><button class="btn btn-dark btn-sm"><a href="/room_update/{{i.id}}"style="color:white;" >Update</a></button></td>
            </tr>
            {% endfor %}
        </table><br>
        </div>
    </div>

    {% endblock %} 